*{
    margin: 0;
    padding: 0;
    outline: 1px red solid;
    font-family:fantasy;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
}
.top-part{
    display: flex;
    flex-direction: column;
    background-color: #603F26;
    height: 550px;
    /* padding: 24px 128px; */
}
.header{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    color: #f9faf8;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
ul, a{
    color: #f9faf8;
    font-size: 18px;
    align-items: flex-end;
}
.main-part{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.Hero-text{
    font-size: 48px;
    font-weight: 900;
    color:  #f9faf8;
    width: 600px;
}
.Hero-subtext{
    font-size: 18px;
    font-weight: normal;
    color: #FFDBB5;
}
.coffee{
    border: 5px #FFEAC5 solid;
}
.sec-part{
    display: flex;
    flex-direction: column;
    height: 550px;
    background-color: #FFDBB5;
}
.information{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #603F26;
}