*{
    margin: 0;
    padding: 0;
    outline: 1px red solid;
    font-family:fantasy;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
}
.top-part{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 550px;
    /* padding: 24px 128px; */
}
.header{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    color: #f9faf8;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
ul, a{
    color: #f9faf8;
    font-size: 18px;
    align-items: center;
}
